<div class="login-container">
    <div class="image-container">
      </div>
    <div class="form-container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <h2>Login</h2>
  
        <div *ngIf="errorMessage" class="alert alert-danger">
          {{ errorMessage }}
        </div>
  
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" formControlName="email" id="email" class="form-control"
                 [class.is-invalid]="formControls.email.invalid && (formControls.email.touched || formControls.email.dirty)">
  
          <div *ngIf="formControls.email.invalid && (formControls.email.touched || formControls.email.dirty)" class="invalid-feedback">
            <span *ngIf="formControls.email.errors?.required">Valid email is required.</span>
            <span *ngIf="formControls.email.errors?.email">Please enter a valid email address.</span>
          </div>
        </div>
  
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" formControlName="password" id="password" class="form-control"
                 [class.is-invalid]="formControls.password.invalid && (formControls.password.touched || formControls.password.dirty)">
  
          <div *ngIf="formControls.password.invalid && (formControls.password.touched || formControls.password.dirty)" class="invalid-feedback">
            <span *ngIf="formControls.password.errors?.required">Password is required.</span>
          </div>
        </div>
  
        <button type="submit" class="btn btn-primary" [disabled]="isLoading">
          Login
          <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
        </button>
        <p *ngIf="isLoading">Please wait...</p>
      </form>
    </div>
  </div>